h1 {
    
    color: black; 
    font-size: 43px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 40px; 
    border-radius: 10px; 
    transition: background-color 0.3s ease; 
  }
  .logo {
    width: 120px;
    height: 112px; 
    border-radius: 100%;
    transition: transform 0.3s ease;
    float:left; 
    margin-left: 35px;
    margin-top: 15px;

  }

.head{
  background-color: #FBC02D;
}


.navbar{
  background-color: #424242;
}
  
 


